@model IEnumerable<E2ETek.ViewModels.DefectView>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div id="divDefectsList">
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Priority</th>
                <th>Reported Date</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Customer</th>
                <td>@item.Priority</td>
                <td>@item.CreatedDate</td>
                <td>@item.description</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
</div>